@use './color' as c;
@use './typhography' as f;

.blog_page_main_box {
  .blog_box {
    .sub_para_box {
      width: 100%;
      height: 193px;
      margin-top: 50px;
      background-color: c.$secondary_color;
      padding: 40px;

      h4 {
        font-family: f.$heebo_font;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: c.$third_color;
        margin-bottom: 10px;
      }

      span {
        font-family: f.$heebo_font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 0px;
        color: c.$third_color;
        position: relative;
        margin-left: 70px;
        margin-top: 25px;

        &::before {
          content: '';
          width: 60px;
          height: 4px;
          background-color: #499afa;
          position: absolute;
          left: -70px;
          display: block;
          top: 45%;
        }
      }
    }

    .product_tag_share_box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-family: f.$nunito_font;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: c.$secondary_color;

        ul {
          margin: 0;
          padding: 0;
          display: flex;

          li {
            margin: 0px 8px;
          }
        }
      }
    }

    .profile_box {
      margin-top: 40px;
      width: 100%;
      height: 308px;
      background: rgba(73, 154, 250, 0.07);
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px;

      .left_img_box {
        width: 35%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          border-radius: 50%;
        }
      }

      .right_content {
        width: 65%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

        ul {
          margin: 0;
          padding: 0;
          display: flex;
          margin-top: 10px;
          li {
            margin-right: 15px;
          }
        }

        h3 {
          font-family: f.$heebo_font;
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 32px;
          color: c.$secondary_color;
        }

        p {
          font-family: f.$nunito_font;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: #4d6581;
        }
      }
    }
    .more_post_box {
      width: 100%;
      height: 180px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 30px;
      margin-top: 30px;

      .more_post {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .recent_blog_box {
          display: flex;

          .right_title_content {
            margin-left: 20px;

            h4 {
              font-family: 'Heebo';
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 22px;
              letter-spacing: -0.02em;
              color: #00234b;
            }

            span {
              font-family: 'Nunito Sans';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 25px;
              color: #4d6581;
            }
          }
        }
      }
    }
  }

  .leave_comment_box {
    width: 100%;
    padding: 25px;

    .leave_comment {
      h3 {
        font-family: f.$heebo_font;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: #00234b;
        margin-bottom: 20px;
      }

      .comment_box {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .left_img_box {
          margin-right: 20px;

          img {
            border-radius: 50%;
          }
        }
        .right_content_box {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          h4 {
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #00234b;
          }

          p {
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: #4d6581;
            margin: 10px 0px;
          }

          span {
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 32px;
            color: #4d6581;
          }
        }
      }
    }
  }

  .reply_main_box {
    width: 100%;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 80px;

    .reply_inner_box {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 40px;

      .reply_box {
        h3 {
          font-family: 'Heebo';
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: -0.02em;
          color: #00234b;
          margin-bottom: 20px;
        }
      }

      .reply_form_box {
        input,
        textarea {
          width: 100%;
          padding: 8px;
          margin-bottom: 10px;
          background: rgba(73, 154, 250, 0.07);
          border-radius: 5px;
          border: 1px solid rgba(0, 35, 75, 0.1);
          outline: none;
          font-family: 'Heebo';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 32px;
          letter-spacing: -0.02em;
          color: #00234b;
        }

        input[type='button'] {
          background-color: #499afa;
          width: 30%;
          color: #fff;
        }
      }
    }
  }
}
