@use './color' as c;
@use './typhography' as f;

.header {
  width: 100%;

  &__top_box {
    width: 100%;
    height: 40px;
    background-color: c.$secondary_color;
    text-align: center;
    color: c.$third_color;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__middle_box {
    width: 100%;
    padding: 15px 0px;
    .header__pnumber_box {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 100%;

      img {
        width: 50px;
      }
      .pnumber_info {
        text-align: left;
        padding-left: 15px;

        h4 {
          font-family: f.$heebo_font;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
        }
        p {
          font-family: 'Nunito Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    .header__email_box {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 100%;

      img {
        width: 50px;
      }
      .emailbox_info {
        text-align: left;
        padding-left: 15px;

        h4 {
          font-family: f.$heebo_font;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
        }
        p {
          font-family: 'Nunito Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    .header__clock_box {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 100%;

      img {
        width: 50px;
      }
      .clockbox_img {
        text-align: left;
        padding-left: 15px;

        h4 {
          font-family: f.$heebo_font;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
        }
        p {
          font-family: 'Nunito Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
  &__bottom_box {
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 9999;

    .header__bottom {
      background-color: c.$primary_color;
      z-index: 9999;
      position: relative;
    }

    .header__nav_box {
      width: 100%;
      margin: 0;
      padding: 20px 0px;
      display: flex;
      align-items: center;

      ul {
        margin: 0;
        padding: 0px;
        display: flex;

        li {
          margin: 0;
          padding: 0;
          list-style-type: none;
          display: flex;
          align-items: center;
          a {
            font-family: f.$heebo_font;
            text-decoration: none;
            color: #fff;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            margin-left: 55px;
          }
          i {
            color: #fff;
            margin-left: 10px;
          }
        }
      }

      ul.submenu_ul {
        flex-direction: column;
        display: block;
        width: 170px;
        background: #fff;
        /* transform: translateY(130px); */
        /* height: 100%; */
        position: relative;
        position: absolute;
        top: 120px;
        left: 155px;
        padding: 10px;
        transition: all 0.5s;
        border-radius: 5px;
        visibility: hidden;
        opacity: 0;

        li {
          margin: 0;
          padding: 0;
          padding: 5px 15px;
          line-height: 20px;

          a {
            margin: 0;
            padding: 0;
            color: c.$secondary_color;
            font-size: 16px;
            font-family: f.$nunito_font;
            font-weight: 600;
          }
        }
      }

      .hover_submenu:hover ul.submenu_ul {
        top: 66px;
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .mobile_header_menu_box {
    display: none;
  }
  &__appoint_btn_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: c.$secondary_color;
    height: 100%;
    border-radius: 40px;
    transform: translateX(30px);

    button {
      background-color: transparent;
      border: none;
      outline: none;
      color: #fff;
      font-family: f.$heebo_font;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
    }
  }
}
