@use './color' as c;
@use './typhography' as f;

.provideService_top_blank_box {
  width: 100%;
  height: 300px;
  background-color: #f3f5f8;
  margin-top: -120px;
}

.provide_service_main_box {
  width: 100%;
  height: 1200px;
  background-color: #f3f5f8;
  transform: translateY(0px);

  &::after {
    content: '';
    width: 100%;
    height: 1200px;
    position: absolute;
    bottom: -9%;
    right: 0;
    background-image: url('../images/provide_service_section.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
  &::before {
    content: '';
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 5%;
    background-image: url('../images/provide_frame.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .provide_title_box {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;

    button {
      border-radius: 5px;
      font-family: f.$nunito_font;
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      color: c.$primary_color;
      border: none;
      outline: none;
      width: 209px;
      height: 36px;
      margin-bottom: 25px;
      background-color: rgba(73, 154, 250, 0.1);
    }
    h3 {
      font-family: f.$heebo_font;
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 55px;
    }
  }
  .service_info_box {
    width: 100%;
    // padding: 20px 50px;

    .service_box {
      width: 100%;
      height: 380px;
      background-color: c.$third_color;
      padding: 35px;
      position: relative;
      text-align: center;
      border-radius: 7px;

      &::before {
        content: '';
        width: 80%;
        height: 80%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../images/01.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      h3 {
        font-family: f.$heebo_font;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 55px;
        margin-bottom: 30px;
      }
      img {
        width: 100px;
        margin-bottom: 30px;
      }
      p {
        font-family: f.$nunito_font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #4d6581;
      }
    }
    .service_box_one {
      &::before {
        background-image: url('../images/01.png');
      }
    }
    .service_box_two {
      &::before {
        background-image: url('../images/02.png');
      }
    }
    .service_box_three {
      &::before {
        background-image: url('../images/03.png');
      }
    }
    .service_box_four {
      &::before {
        background-image: url('../images/04.png');
      }
    }
    .service_box_five {
      &::before {
        background-image: url('../images/05.png');
      }
    }
    .service_box_six {
      &::before {
        background-image: url('../images/06.png');
      }
    }
  }
}
